.faq-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}


.main-title {
    font-weight: 830;
    font-size: 50px;
    line-height: 68px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.01em;
    background: linear-gradient(30.31deg, #DE82FF -15.56%, #7F6AFF 108.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.subtitle {
    padding: 1rem 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #717171;
}



.pagination-nav__link {
    border-radius: 1rem;
}